
/*------------------------- VARI FONTS -------------------------*/

@font-face {
    font-family: "Stolzl";
    src: url('assets/fonts/Stolzl-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.stolzl_font_type {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

.stolzl_font_type_grosso {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
    font-size: 55pt;
}


/*------------------------- BODY -------------------------*/

body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection {
    background-color: #a6b9d3;
    color: black;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Iter", sans-serif;
    font-weight: lighter;
    font-size: 25pt;
    color: #172742;
    z-index: 9;
    scale: 0.7;
    margin: 0;
}

#torna_all_inizio_button{
    position: fixed;
    bottom: 50px;
    left: 30px;
    z-index: 10;

    background-color: #D17440;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#storia_container {
    width: fit-content;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(auto-fit, 2fr);
    grid-template-columns: repeat(auto-fit, 10fr);
    
    background-image: url(assets/abdou/png/Artboard\ 1.png), url(/assets/abdou/png/Artboard\ 1\ copy\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;

}


/*------------------------- TESTO -------------------------*/


#testo_iniziale_senzaconfini,
button {
    padding: 1rem 2rem;
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 23pt;
    color: #D17440;
}


#index {
    grid-area: 1/1;
    height: fit-content;
    width: fit-content;
}



#titolo_storia {
    position: relative;
    font-size: 75pt;
    grid-area: 2/1;
    place-self: center;
    padding-left: 4rem;

    right: 7%;
    bottom: 14%;
}

#abdou_nasce {
    position: relative;
    grid-area: 2/2;
    place-self: center;
    bottom: 32%;
    right: 23%;

    padding-bottom: 5rem;
}

#abdou_ha_16_anni {
    position: relative;
    grid-area: 2/2;
    place-self: center;
    left: 73%;
    top: 35%;

    padding-bottom: 5rem;
}

#abdou_socializza {
    position: relative;
    grid-area: 2/3;
    place-self: center;
    left: 47.5%;
    top: 6%;

    padding-left: 5rem ;
}

#abdou_inizia_le_giornate {
    position: relative;
    grid-area: 2/3;
    place-self: center;
    bottom: 19.5%;
    left: 140%;
    text-align: end;

    padding-right: 5rem;
}

#abdou_no_cittadinanza {
    position: relative;
    grid-area: 2/5;
    place-self: center;
    left: 28.5%;
    top: 34%;

    padding-bottom: 5rem;
}

#abdou_fa_jogging {
    position: relative;
    grid-area: 2/4;
    place-self: center;
    left: 190%;
    top: 14.3%;

    padding-right: 5rem;
    text-align: end;
}

#abdou_di_tanto_in_tanto {
    position: relative;
    grid-area: 2/4;
    place-self: center;
    left: 252%;
    bottom: 6.25%;

    padding-top: 5rem;
}

#abdou_gruppo_di_amici {
    position: relative;
    grid-area: 2/5;
    place-self: center;
    left: 275.5%;
    top: 33%;

    padding-bottom: 5rem;
}

/*------------------------IMMAGINI------------------------*/

#family{
    position: relative;
    grid-area: 2/2;
    place-self: center;
    right: 22%;
    top: 5%;
    
}

#plane{
    position: relative;
    grid-area: 2/2;
    place-self: center;
    width: 60%;

    bottom: 45%;
    left: 35%;
}

#abdou_reads{
    position: relative;
    grid-area: 2/2;
    place-self: center;

    left: 85%;
    bottom: 5%;
}

#football{
    position: relative;
    grid-area: 2/3;
    place-self: center;

    width: 68%;

    left: 55%;
    bottom: 25%;
}

#ball{
    position: relative;
    grid-area: 2/3;
    place-self: center;

    left: 55%;

    scale: 0.9;
}

#mosque{
    position: relative;
    grid-area: 2/4;
    place-self: center;

    width: 45%;

    left: 40%;
    bottom: 42%;
}

#abdou_prays{
    position: relative;
    grid-area: 2/4;
    place-self: center;

    width: 60%;

    left: 30%;

    top: 7%;
}

#flying_clock{
    position: relative;
    grid-area: 2/4;
    place-self: center;

    scale: 0.25;

    bottom: 15%;
}

#pizza{
    position: relative;
    grid-area: 2/5;
    place-self: center;

    scale: 0.4;

    top: 20%;

    right: 25%;
}

#abdou_cooks{
    position: relative;
    grid-area: 2/5;
    place-self: center;

    width: 55%;

    left: 25%;
}

#ship{
    position: relative;
    grid-area: 2/5;
    place-self: center;

    scale: 0.6;

    bottom: 35%;
    left: 45%;
}

#abdou_sport{
    position: relative;
    grid-area: 2/6;
    place-self: center;

    scale: 0.6;

    bottom: 30%;
    right: 5%;
}

#coaches{
    position: relative;
    grid-area: 2/7;
    place-self: center;
    scale: 0.6;

    bottom: 32%;
    right: 30%;
}

#sun{
    position: relative;
    grid-area: 2/7;
    place-self: center;
    scale: 0.4;

    top: 23%;
    right: 30%;
}

#abdou_pies{
    position: relative;
    grid-area: 2/7;
    place-self: center;
    scale: 0.55;

    bottom: 25%;
    left: 13%;
}

#abdou_dances{
    position: relative;
    grid-area: 2/8;
    place-self: center;
    scale: 0.8;

    bottom: 30%;
    right: 15%;
}

#party{
    position: relative;
    grid-area: 2/8;
    place-self: center;
    scale: 0.8;

    bottom: 10%;
    right: 15%;
}

/*---------------------------------- ANIMAZIONI ------------------------------*/

.text_fade_in_anim_hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 3s;
}

.text_fade_in_anim_show {
    opacity: 1;
    filter: blur(0);
}

.text_swoop_right_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(80%);
    transition: all 3s;
}

.text_swoop_right_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_swoop_up_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 3s;
}

.text_swoop_up_show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.text_swoop_left_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.text_swoop_left_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_swoop_down_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 3s;
}

.text_swoop_down_show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}