
/*------------------------- VARI FONTS -------------------------*/

@font-face {
    font-family: "Stolzl";
    src: url('assets/fonts/Stolzl-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.stolzl_font_type {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

.stolzl_font_type_grosso {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
    font-size: 55pt;
}


/*------------------------- BODY -------------------------*/

body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    
    overflow-y: hidden;
    overflow-x: hidden;
}

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection {
    background-color: #a6b9d3;
    color: black;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

p {
    font-family: "Iter", sans-serif;
    font-weight: lighter;
    font-size: 25pt;
    color: #172742;
    z-index: 9;
    scale: 0.7;
    margin: 0;
}

#torna_all_inizio_button{
    position: fixed;
    bottom: 50px;
    left: 30px;
    z-index: 10;

    background-color: #D17440;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#storia_container {
    width: fit-content;
    height: 100vh;
    display: grid;
    grid-template-rows: repeat(auto-fit, 3fr);
    grid-template-columns: repeat(auto-fit, 10fr);
    
    background-image: url(/assets/frank/sfondo_storia.png);
    background-repeat: no-repeat;
    background-size: cover;

}

#linea_con_pallini {
    grid-column: 1 / 11;
    grid-row: 1 / 4;
    margin-left: 4rem;
    margin-top: 3rem;
}

/*------------------------- TESTO -------------------------*/

#testo_iniziale_senzaconfini,
button {
    padding: 1rem 2rem;
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 23pt;
    color: #D17440;
}

#titolo_storia {
    position: relative;
    font-size: 75pt;
    grid-area: 2/1;
    place-self: center;
    padding-left: 5rem;

    left: 7%;
    top: 10.5%;
}

#index {
    grid-area: 1/1;
}



#frank_arriva_in_italia {
    position: relative;
    padding-top: 5rem;
    font-size: 25pt;
    grid-area: 2/2;
    place-self: center;

    bottom: 38%;
    left: 6%;
}

#frank_no_cittadinanza {
    position: relative;
    grid-area: 2/4;
    place-self: center;
    right: 78.75%;
    top: 0%;
    padding-left: 5rem;
}

#frank_primi_due_anni {
    position: relative;
    grid-area: 2/5;
    place-self: center;
    bottom: 0%;
    right: 2.25%;

    padding-bottom: 5rem;
}
    

#frank_curioso {
    position: relative;
    font-size: 25pt;
    grid-area: 2/5;
    place-self: center;
    left: 57%;
    bottom: 39%;

    padding-bottom: 5rem;
}

#frank_prima_media {
    position: relative;
    font-size: 25pt;
    grid-area: 2/7;
    place-self: center;
    left: 6.25%;
    bottom: 19%;

    padding-left: 5rem;
}
    
#frank_riesce_inserirsi {
    position: relative;
    font-size: 25pt;
    grid-area: 2/8;
    place-self: center;
    left: 70%;
    top: 3%;
    padding-left: 5rem;
}
    
#frank_dopo_liceo {
    position: relative;
    font-size: 25pt;
    grid-area: 2/8;
    place-self: center;
    left: 185.5%;
    bottom: 39%;

    padding-left: 5rem;
    }
    

#frank_vicepresidente {
    position: relative;
    font-size: 25pt;
    grid-area: 2/9;
    place-self: center;
    left: 189%;
    bottom: 42%;

    padding-bottom: 5rem;
}
    
/*----------------------------------IMMAGINI ------------------------------*/

#boxes {
    position: relative;
    grid-area: 2/1;
    place-self: center;
    width: 80%;
    right: 5%;
    bottom: 18%;
}

#car_hill {
    position: relative;
    grid-area: 2/3;
    place-self: center;
    width: 75%;

    right: 48%;
    bottom: 3%;
}


#sad_frank{
    position: relative;
    grid-area: 2/4;
    place-self: center;
    width: 90%;
    bottom: 25%;
    right: 63%;
}

#frank_window{
    position: relative;
    grid-area: 2/5;

    right: 35%;
    top: 15%;
    
    z-index: 2;
}

#children_baloons{
    position: relative;
    grid-area: 2/5;
    width: 40%;

    right: 22%;
    top: 15%;

    z-index: 1;
}

#study_frank{
    position: relative;
    grid-area: 2/6;

    width: 90%;
    bottom: 1%;

    z-index: 2;
}

#illustation{
    position: relative;
    grid-area: 2/6;
    place-self: center;
    rotate: 15deg;

    width: 50%;
    bottom: 42%;
    left: 23%;
}

#gears{
    position: relative;
    grid-area: 2/6;
    place-self: center;
    width: 60%;

    left: 10%;
    bottom: 12%;
}

#frank_friends{
    position: relative;
    grid-area: 2/8;

    width: 105%;
    right: 20%;
    top: 2%;
}

#frank_rocket{
    position: relative;
    grid-area: 2/9;

    left: 8%;
}

#pencil_woman{
    position: relative; 
    grid-area: 2/9;
    width: 100%;

    bottom: 30%;
    left: -2%;
}

#frank_car{
    position: relative;
    grid-area: 2/9;

    width: 80%;
    top: 23%;
    right: -136%;
}

#tree{
    position: relative;
    grid-area: 2/10;
    width: 30%;
    left: 65%;
    bottom: 3.75%;
}

#frank{
    position: relative;
    grid-area: 2/10;
    width: 20%;
    left: 50%;
    top: 20%;
}

#ferrari{
    position: relative;
    grid-area: 2/10;
    width: 35%;
    left: 62%;
    bottom: 5%;
}


/*---------------------------------- ANIMAZIONI ------------------------------*/

.text_fade_in_anim_hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 3s;
}

.text_fade_in_anim_show {
    opacity: 1;
    filter: blur(0);
}

.text_swoop_right_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(80%);
    transition: all 3s;
}

.text_swoop_right_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_swoop_up_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 3s;
}

.text_swoop_up_show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}

.text_swoop_left_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.text_swoop_left_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_swoop_down_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(-20%);
    transition: all 3s;
}

.text_swoop_down_show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}