/*------------------------- VARI FONTS -------------------------*/

@font-face {
    font-family: "Stolzl";
    src: url('assets/fonts/Stolzl-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.stolzl_font_type {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

.stolzl_font_type_grosso {
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
    font-size: 55pt;
}

/*------------------------- BODY -------------------------*/

/*
.selectEnable { 
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -o-user-select: text;
    user-select: text;
}
*/

img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

::selection {
    background-color: #daa002;
    color: black;
}

p {
    z-index: 13;
}

body {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    width: 100vw;
    background-image: url(assets/sfondo_linea.png);
    background-repeat: no-repeat;
    background-size: cover;

    overflow-x: hidden;
}

#wrapper {
    padding-top: 6rem;
}

.button {
    border: none;
    background: none;
    cursor: pointer;
    font-family: "Stolzl", sans-serif;
    font-weight: bold;
}

.palla {
    position: relative;
    width: 3%;
}

/*------------------------- TESTO -------------------------*/

#navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;

    border-style: solid;
    border-radius: 2%;
    border-color: #D17440;
    border-top: #ffffff;
    border-left: #ffffff;
    border-right: #ffffff;

    background-color: rgb(250, 243, 223);

}

#testo_iniziale_senzaconfini,
button {
    padding: 1rem 2rem;
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 23pt;
    color: #D17440;
}

#citazione {
    font-family: "Iter", sans-serif;
    font-style: italic;
    font-size: 36pt;
    color: #172742;
    grid-area: 1/1;
    place-self: flex-start left;
    scale: 0.8;
}


#mission_paragrafo {
    font-family: "Iter", sans-serif;
    font-size: 20pt;
    color: #172742;
    margin-top: 9.5rem;
    margin-left: 13rem;

    grid-area: 1/1;
    place-self: center left;
}

#condivisione_paragrafo {
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 20pt;
    color: #172742;
    margin-top: 25rem;
    margin-right: 20rem;

    grid-area: 2/1;
    place-self: center right;
}

#rispetto_paragrafo {
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 20pt;
    color: #172742;
    margin-top: 15rem;
    margin-left: 18rem;

    grid-area: 3/1;
    place-self: center left;
}

#pragmatismo_paragrafo {
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 20pt;
    color: #172742;
    margin-top: 5rem;
    margin-right: 20rem;

    grid-area: 4/1;
    place-self: center right;
}

#storie_paragrafo {
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 20pt;
    color: #172742;
    margin-top: 4rem;
    margin-left: 10rem;

    grid-area: 5/1;
    place-self: center left;
}

#fine_sito {
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 20pt;
    color: #172742;
    margin-left: 5rem;
}

#titolo_senza_confini {
    font-size: 50pt;
}

#frank {
    position: relative;
    grid-area: 1/1;
    place-self: flex-start right;
    z-index: 12;
    color: #172742;
    right: 22%;
    top: 15%;
    scale: 0.8;
    text-align: center;
    line-height: 3.5rem;
}

#sumaya {
    position: relative;
    grid-area: 1/1;
    place-self: flex-end right;
    z-index: 12;
    color: #172742;
    scale: 0.8;
    text-align: center;
    right: 8%;
    line-height: 3.5rem;
}

#abdou {
    position: relative;
    grid-area: 1/1;
    place-self: center left;
    z-index: 12;
    color: #172742;
    left: 10%;
    top: 35%;
    scale: 0.8;
    text-align: center;
    line-height: 3.5rem;
}

#senzaConfini {
    position: relative;
    grid-area: 1/1;
    place-self: center left;
}

#contattaci {
    position: relative;
    grid-area: 1/1;
    place-self: center left;
    top: 40%;
}

#footer {
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    place-items: center;
    font-family: "Iter", sans-serif;
    font-style: normal;
    font-size: 15pt;
    color: #172742;

}

#footer #senza_confini_footer {
    position: relative;
    grid-area: 1/1;
    place-self: center center;
}

#footer #recap {
    position: relative;
    grid-area: 2/1;
    place-self: center center;

}

#footer #policy {
    position: relative;
    grid-area: 2/2;
    place-self: center center;

}

#footer #contatti_titolo {
    position: relative;
    grid-area: 1/3;
    place-self: center center;
}

#footer #contatti {
    position: relative;
    grid-area: 2/3;
    place-self: center center;

}

/*----------------------------------IMMAGINI------------------------------*/

.images {
    height: 100%;
    width: 100%;
    display: grid;
    /* padding-top: 6rem; */

    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    place-items: center;
}

.images #male {
    margin-top: 20rem;
    width: 55%;
    grid-area: 1/1;
    place-self: center left;
    z-index: 11;
}

.images #female {
    width: 80%;
    grid-area: 1/1;
    place-self: flex-end right;
    z-index: 10;
}

.images #bush {
    width: 80%;
    grid-area: 1/1;
    place-self: flex-end left;
    z-index: 12;
}

.images #cloud {
    position: relative;
    width: 65%;
    grid-area: 1/1;
    place-self: flex-start right;
    z-index: 9;
}

#cloud2 {
    margin-top: 10rem;
    width: 100%;
}

#linea {
    height: fit-content;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 5fr);
    place-items: center;

    justify-content: space-evenly;
}

#linea #world {
    position: relative;
    right: 15%;
    width: 30%;
    top: 12%;
    grid-area: 1/1;
    place-self: center right;
    scale: 1.4;
}

#linea #palla1 {
    left: 4.75%;
    top: 25%;
    grid-area: 1/1;
    place-self: flex-start left;
}

#linea #butterfly {
    position: relative;
    top: 12.5%;
    left: 4.75%;
    width: 5%;
    grid-area: 1/1;
    place-self: flex-start left;
}

#linea #collab {
    position: relative;
    top: 21%;
    left: 12%;
    width: 35%;
    grid-area: 2/1;
    place-self: center left;
}

#linea #palla2 {
    top: -30%;
    right: 5%;
    grid-area: 2/1;
    place-self: flex-end right;

}

#linea #respect {
    position: relative;
    top: 15%;
    right: 20%;
    width: 20%;
    grid-area: 3/1;
    place-self: center right;
}

#linea #palla3 {
    top: -30%;
    right: 5%;
    grid-area: 3/1;
    place-self: flex-end right;

}

#linea #teamwork {
    position: relative;
    top: -5%;
    left: 10%;
    width: 35%;
    grid-area: 4/1;
    place-self: center left;
}

#linea #palla4 {
    top: -55%;
    right: 5%;
    grid-area: 4/1;
    place-self: flex-end right;

}

#linea #palla5 {
    top: -50%;
    left: 4%;
    grid-area: 5/1;
    place-self: flex-end left;

}

#world_stories {
    height: fit-content;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    place-items: center;
}

#world_stories #story_cloud {
    position: relative;
    top: 10%;
    width: 100%;
    grid-area: 1/1;
    place-self: center center;
}

#world_stories #world_story {
    position: relative;
    top: 10%;
    width: 50%;
    grid-area: 1/1;
    place-self: center center;
}

#world_stories .buttonS {
    background-color: #D17440;
    color: white;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#fine_sito {
    display: grid;
    grid-template-columns: 2fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    place-items: center;
    width: fit-content;
}


#hill {
    position: relative;
    height: 50%;
    width: 70%;
    grid-area: 1/1;
    left: 5%;
    place-self: flex-end right;
}

#teamGoals {
    position: relative;
    grid-area: 1/1;
    top: 8%;
    left: 15%;
    place-self: center center;

}

.icon {
    width: 5%;
    height: 5%;
}


/*---------------------------------- ANIMAZIONI ------------------------------*/

.text_swoop_left_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 2s;
}

.text_swoop_left_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_fade_in_anim_hidden {
    opacity: 0;
    filter: blur(5px);
    transition: all 3s;
}

.text_fade_in_anim_show {
    opacity: 1;
    filter: blur(0);
}

.text_swoop_right_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(80%);
    transition: all 3s;
}

.text_swoop_right_show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.text_swoop_up_hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateY(20%);
    transition: all 3s;
}

.text_swoop_up_show {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
}
